#contact-info p {
  font-size: .8em;
}
.job {
  background-color: #e9e5dc;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 30px;
}
.accomplishments {
  font-size: .8em;
}
.volunteer-gig:hover {
  font-size: 1.2em;
  color: red;
}
ul > li {
  font-style: italic;
}

