#octobox {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  /*border: 1px dashed;*/
  z-index: 0;
  position: relative;
}

#octo {
  /*border: 1px solid;*/
  position: relative;
  /*margin-top: 20%;*/
}
#glasses {
  /*border: 1px solid;*/
  position: absolute;
  top: 33%;
  left: 20%;
}
#hat {
  /*border: 1px solid;*/
  position: absolute;
  top: -20%;
  left: -10%;
  }