.header {
  font-size: large;
  font-weight: bold;
  text-align: center;
}

.list_title {
  font-size: large;
  font-weight: bold;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*.photo_container {
  width: 80%;
}*/